In [1]:
import pandas as pd
from pymongo import MongoClient
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [2]:
MONGO_URI = "mongodb://my-mongo-db:27017/"

In [3]:
def get_mongo_data_to_pandas(db_name, collection_name):
    """
    Connects to MongoDB, fetches all documents from a collection,
    and returns them as a Pandas DataFrame.

    Args:
        db_name (str): The name of the database to connect to.
        collection_name (str): The name of the collection to read from.

    Returns:
        pandas.DataFrame: A DataFrame containing the data from the collection,
                          or None if an error occurs.
    """
    print(f"Connecting to MongoDB at {MONGO_URI}...")
    try:
        # Establish a connection to the MongoDB server
        client = MongoClient(MONGO_URI)
        db = client[db_name]
        collection = db[collection_name]

        print(f"Fetching data from '{db_name}.{collection_name}'...")
        # Fetch all documents from the collection
        cursor = collection.find()

        # Convert the cursor to a list of dictionaries
        data_list = list(cursor)

        # close the connection
        client.close()

        if not data_list:
            print("Warning: No data found in the collection.")
            return pd.DataFrame() # Return an empty DataFrame

        # Create a Pandas DataFrame from the list of dictionaries
        # The '_id' column from MongoDB is  dropped as it's not needed for analysis.
        df = pd.DataFrame(data_list).drop(columns=['_id'], errors='ignore')
        print("Successfully loaded data into Pandas DataFrame.")
        return df

    except Exception as e:
        print(f"An error occurred while connecting to MongoDB: {e}")
        return None

In [4]:
DB_NAME = "ny_transit_data"
COLLECTION_NAME = "ridership"
pandas_df = get_mongo_data_to_pandas(DB_NAME, COLLECTION_NAME)

Connecting to MongoDB at mongodb://my-mongo-db:27017/...
Fetching data from 'ny_transit_data.ridership'...
Successfully loaded data into Pandas DataFrame.

In [5]:
print("\n--- Pandas DataFrame Head ---")
print(pandas_df.head())
print("\n--- Pandas DataFrame Info ---")
pandas_df.info()

--- Pandas DataFrame Head ---
         transit_timestamp transit_mode station_complex_id  \
0  2024-12-01T00:00:00.000         tram              TRAM2
1  2024-12-01T00:00:00.000         tram              TRAM1
2  2024-12-01T00:00:00.000         tram              TRAM1
3  2024-12-01T00:00:00.000         tram              TRAM2
4  2024-12-01T00:00:00.000         tram              TRAM1

          station_complex    borough payment_method  \
0  RI Tramway (Roosevelt)  Manhattan      metrocard
1  RI Tramway (Manhattan)  Manhattan      metrocard
2  RI Tramway (Manhattan)  Manhattan      metrocard
3  RI Tramway (Roosevelt)  Manhattan      metrocard
4  RI Tramway (Manhattan)  Manhattan           omny

                fare_class_category ridership transfers   latitude  longitude  \
0             Metrocard - Full Fare       6.0       0.0   40.75734  -73.95412
1             Metrocard - Full Fare       8.0       3.0  40.761337  -73.96416
2       Metrocard - Unlimited 7-Day       4.0       0.0  40.761337  -73.96416
3  Metrocard - Seniors & Disability       1.0       0.0   40.75734  -73.95412
4                  OMNY - Full Fare      21.0       3.0  40.761337  -73.96416

                                        georeference
0  {'type': 'Point', 'coordinates': [-73.95412, 4...
1  {'type': 'Point', 'coordinates': [-73.96416, 4...
2  {'type': 'Point', 'coordinates': [-73.96416, 4...
3  {'type': 'Point', 'coordinates': [-73.95412, 4...
4  {'type': 'Point', 'coordinates': [-73.96416, 4...

--- Pandas DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2446236 entries, 0 to 2446235
Data columns (total 12 columns):
 #   Column               Dtype
---  ------               -----
 0   transit_timestamp    object
 1   transit_mode         object
 2   station_complex_id   object
 3   station_complex      object
 4   borough              object
 5   payment_method       object
 6   fare_class_category  object
 7   ridership            object
 8   transfers            object
 9   latitude             object
 10  longitude            object
 11  georeference         object
dtypes: object(12)
memory usage: 224.0+ MB

In [6]:
print("\nInitializing SparkSession...")
try:
    spark = SparkSession.builder \
        .appName("MongoToSpark") \
        .config("spark.driver.memory", "16g") \
        .getOrCreate()
    print("SparkSession initialized successfully.")
except Exception as e:
    print(f"Failed to initialize SparkSession: {e}")
spark

Initializing SparkSession...
SparkSession initialized successfully.

In [7]:
spark_df = spark.createDataFrame(pandas_df)

print("Conversion successful!")

# --- Step 4: Show results from Spark DataFrame ---
print("\n--- Spark DataFrame (Top 20 Rows) ---")
spark_df.show()

print("\n--- Spark DataFrame Schema ---")
spark_df.printSchema()

Conversion successful!

--- Spark DataFrame (Top 20 Rows) ---
+--------------------+------------+------------------+--------------------+---------+--------------+--------------------+---------+---------+---------+----------+--------------------+
|   transit_timestamp|transit_mode|station_complex_id|     station_complex|  borough|payment_method| fare_class_category|ridership|transfers| latitude| longitude|        georeference|
+--------------------+------------+------------------+--------------------+---------+--------------+--------------------+---------+---------+---------+----------+--------------------+
|2024-12-01T00:00:...|        tram|             TRAM2|RI Tramway (Roose...|Manhattan|     metrocard|Metrocard - Full ...|      6.0|      0.0| 40.75734| -73.95412|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM1|RI Tramway (Manha...|Manhattan|     metrocard|Metrocard - Full ...|      8.0|      3.0|40.761337| -73.96416|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM1|RI Tramway (Manha...|Manhattan|     metrocard|Metrocard - Unlim...|      4.0|      0.0|40.761337| -73.96416|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM2|RI Tramway (Roose...|Manhattan|     metrocard|Metrocard - Senio...|      1.0|      0.0| 40.75734| -73.95412|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM1|RI Tramway (Manha...|Manhattan|          omny|    OMNY - Full Fare|     21.0|      3.0|40.761337| -73.96416|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM1|RI Tramway (Manha...|Manhattan|     metrocard|Metrocard - Unlim...|      1.0|      0.0|40.761337| -73.96416|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM2|RI Tramway (Roose...|Manhattan|          omny|    OMNY - Full Fare|     22.0|      9.0| 40.75734| -73.95412|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM2|RI Tramway (Roose...|Manhattan|     metrocard|   Metrocard - Other|      2.0|      0.0| 40.75734| -73.95412|{coordinates -> [...|
|2024-12-01T00:00:...|        tram|             TRAM2|RI Tramway (Roose...|Manhattan|     metrocard|Metrocard - Unlim...|      1.0|      0.0| 40.75734| -73.95412|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               627|   Franklin Av (C,S)| Brooklyn|          omny|    OMNY - Full Fare|     15.0|      0.0| 40.68138| -73.95685|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               427|West Farms Sq-E T...|    Bronx|          omny|    OMNY - Full Fare|      7.0|      1.0|40.840294| -73.88005|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               240|          7 Av (F,G)| Brooklyn|          omny|    OMNY - Full Fare|     29.0|      0.0| 40.66627| -73.98031|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               430|    Simpson St (2,5)|    Bronx|     metrocard|Metrocard - Full ...|      3.0|      0.0|40.824074| -73.89307|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|                68|        Bay Pkwy (D)| Brooklyn|     metrocard|Metrocard - Full ...|      4.0|      0.0|40.601875| -73.99373|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               188|     Euclid Av (A,C)| Brooklyn|          omny|    OMNY - Full Fare|      5.0|      2.0|40.675377| -73.87211|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|                20|     City Hall (R,W)|Manhattan|     metrocard|Metrocard - Full ...|      1.0|      0.0|40.713284| -74.00698|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               187|     Shepherd Av (C)| Brooklyn|          omny|     OMNY - Students|      2.0|      0.0| 40.67413| -73.88075|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               627|   Franklin Av (C,S)| Brooklyn|          omny|     OMNY - Students|      1.0|      0.0| 40.68138| -73.95685|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               114|      Central Av (M)| Brooklyn|     metrocard|Metrocard - Unlim...|      2.0|      0.0|40.697857|  -73.9274|{coordinates -> [...|
|2024-12-01T00:00:...|      subway|               169|    Canal St (A,C,E)|Manhattan|          omny|     OMNY - Students|      4.0|      0.0|40.720825|-74.005226|{coordinates -> [...|
+--------------------+------------+------------------+--------------------+---------+--------------+--------------------+---------+---------+---------+----------+--------------------+
only showing top 20 rows


--- Spark DataFrame Schema ---
root
 |-- transit_timestamp: string (nullable = true)
 |-- transit_mode: string (nullable = true)
 |-- station_complex_id: string (nullable = true)
 |-- station_complex: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- fare_class_category: string (nullable = true)
 |-- ridership: string (nullable = true)
 |-- transfers: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- georeference: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)